[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log

[libdefaults]
    default_realm = {{ realm2 }}
    default_tkt_enctypes = aes256-cts-hmac-sha1-96
    default_tgs_enctypes = aes256-cts-hmac-sha1-96
    dns_lookup_kdc = false
    dns_lookup_realm = false

[realms]
    {{ realm2 }} = {
        kdc = {{ realm2_kdc_host }}
        admin_server = {{ realm2_kdc_host }}
        master_kdc = {{ realm2_kdc_host }}
    }
    {{ realm1 }} = {
            kdc = {{ realm1_kdc_host }}
            admin_server = {{ realm1_kdc_host }}
            master_kdc = {{ realm1_kdc_host }}
        }

[domain_realm]
    {{ realm2_kdc_host }} = {{ realm2 }}
    {{ realm1_kdc_host }} = {{ realm1 }}

